/* css reset, general */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(1rem, calc(1rem + ((1vw - 0.48rem) * 0.6944)), 1.5rem);
    min-height: 0vw;

    --font-family: system-ui;

    --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
    --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
    --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
    --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
    --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
    --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
    --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

    /* colores */
    /* primario: #1fadff */
    --primary-100: hsl(208.13, 100%, 93.73%);
    --primary-200: hsl(203.66, 100%, 86.08%);
    --primary-300: hsl(202.22, 100%, 73.53%);
    --primary-400: hsl(201.96, 100%, 56.08%);
    --primary-500: hsl(202.21, 95.14%, 48.43%);
    --primary-600: hsl(204.47, 100%, 40.39%);
    --primary-700: hsl(205.15, 100%, 32.75%);
    --primary-800: hsl(204.71, 97.14%, 27.45%);
    --primary-900: hsl(205.47, 86.89%, 23.92%);

    /* secundario: #ff711f */
    --secondary-100: hsl(32.09, 100%, 91.57%);
    --secondary-200: hsl(29.66, 100%, 82.94%);
    --secondary-300: hsl(28.53, 100%, 71.96%);
    --secondary-400: hsl(24.3, 100%, 60.78%);
    --secondary-500: hsl(21.96, 100%, 56.08%);
    --secondary-600: hsl(17.95, 95.12%, 48.24%);
    --secondary-700: hsl(15, 93.2%, 40.39%);
    --secondary-800: hsl(12.5, 83.72%, 33.73%);
    --secondary-900: hsl(12.86, 78.87%, 27.84%);

    /* acentuado: #3dff1f */
    --accent-100: hsl(106.78, 100%, 88.43%);
    --accent-200: hsl(107.57, 100%, 78.24%);
    --accent-300: hsl(109.71, 100%, 65.69%);
    --accent-400: hsl(111.96, 100%, 56.08%);
    --accent-500: hsl(113.48, 100%, 45.1%);
    --accent-600: hsl(115.11, 100%, 36.08%);
    --accent-700: hsl(115.25, 100%, 27.25%);
    --accent-800: hsl(115.88, 87.93%, 22.75%);
    --accent-900: hsl(116.3, 78.64%, 20.2%);

    /* grises */
    --gray-50: hsl(0, 0%, 96.47%);
    --gray-100: hsl(0, 0%, 90.59%);
    --gray-200: hsl(0, 0%, 81.96%);
    --gray-300: hsl(0, 0%, 69.02%);
    --gray-400: hsl(0, 0%, 53.33%);
    --gray-500: hsl(0, 0%, 42.75%);
    --gray-600: hsl(0, 0%, 36.47%);
    --gray-700: hsl(0, 0%, 30.98%);
    --gray-800: hsl(0, 0%, 27.06%);
    --gray-900: hsl(0, 0%, 23.92%);
    --gray-950: hsl(0, 0%, 0%);
}

/* esquema */
.content-grid {
    --padding-inline: 1rem;
    --content-max-width: 900px;
    --breakout-max-width: 1200px;
  
    --breakout-size: calc(
      (var(--breakout-max-width) - var(--content-max-width)) / 2
    );
  
    display: grid;
    grid-template-columns:
      [full-width-start]
        minmax(var(--padding-inline), 1fr)
            [breakout-start]
                minmax(0, var(--breakout-size))
                    [content-start]
                        min(100% - (var(--padding-inline) * 2), var(--content-max-width))
                    [content-end]
                minmax(0, var(--breakout-size))
            [breakout-end]
        minmax(var(--padding-inline), 1fr)
      [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
    grid-column: content;
}

.content-grid > .breakout {
    grid-column: breakout;
}

.content-grid > .full-width {
    grid-column: full-width;
}

/* negocio */

/* navbar */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-600);
    padding: 1.5rem;

    .navbar-desktop { display: none; }

    .toggle-btn-wrapper {
        z-index: 1;
        background-color: var(--primary-600);
        padding: 3px;
        position: fixed;
        right: 21px;

        .toggle-btn {
            cursor: pointer;
        }
    }
}

@media (min-width: 768px) {
    .navbar {
        justify-content: space-around;

        .navbar-desktop {
            display: flex;
            gap: 1rem;

            li {
                a {
                    color: var(--primary-100);
                }

                a:hover {
                    color: var(--primary-300);
                }
            }
        }

        .toggle-btn-wrapper { display: none; }
    }
}

/* sidenav */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--gray-950); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 34px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: var(--gray-100);
        display: block;
        transition: 0.3s;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 30px;
        margin-bottom: 34px;

        h2 {
            color: var(--gray-50);
        }
        
        .closebtn {
            font-size: 36px;
            padding: 0;
            align-self: flex-end;
            margin-right: 21px;
        }
    }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* hero */
.hero {
    position: relative;
    container: hero / inline-size;

    .hero-copy {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 34px;
        color: var(--gray-50);
        height: 100%;
        width: 100%;
        position: absolute;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

        h1 {
            text-align: center;
        }

        h2 {
            margin-top: auto;
        }

        button {
            border: none;
            border-radius: .5rem;
            background-color: var(--accent-500);
            font-weight: 600;
            font-size: var(--fs-400);
            color: var(--gray-50);
            padding: 13px 89px;
            cursor: pointer;
        }

        button:hover {
            background-color: var(--accent-600);
        }
    }

    .hero-img {
        object-fit: cover;
        width: 100%;
        height: 100vh;
        height: 100dvh;
    }
}

@container hero (min-width: 768px) {
    .hero-copy {
        justify-content: center;

        & h2 {
            margin-top: 0 !important;
        }
    }
}

/* reservaciones */
.reservaciones {
    background-color: var(--primary-900);
    color: var(--gray-50);
    padding: 34px;
    container: reservaciones / inline-size;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .reservas-copy-form {
        display: flex;
        flex-direction: column;

        h2 {
            padding-bottom: 1rem;
        }

        form {
            padding-block: 2rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: center;

            input {
                border: 1px solid var(--gray-100);
                border-radius: .3rem;
                padding-block: 5px;
                padding-left: 8px;
            }

            button {
                border: none;
                background-color: var(--secondary-500);
                color: var(--gray-950);
                padding: 8px;
                margin-block: 1.5rem;
                cursor: pointer;
            }

            button:hover {
                background-color: var(--secondary-600);
            }
        }
    }

    .reservas-support-copy {
        p {
            padding-block: 1rem;
            line-height: 1.8;
        }

        p:nth-child(4) {
            margin-bottom: 21px;
        }

        .support-copy-link {
            color: var(--gray-50);
            display: flex;
            align-items: center;
            gap: 1rem;
        }
        
        .support-copy-link:hover {
            text-decoration: underline;
        }
    }
}

@media (min-width: 768px) {
    .reservaciones {
        flex-direction: row;
        gap: 5rem;
        
        .reservas-copy-form {
            width: 50%;
        }

        .reservas-support-copy {
            width: 50%;
        }
    }
}

@media (min-width: 1280px) {
    .reservaciones {
        padding-inline: 5rem;

        .reservas-copy-form {
            width: 34%;

            p {
                margin-bottom: 2rem;
            }

            & form {
                padding-block: 0;
            }
        }
    }
}

/* testimonios */
.testimonios {
    margin-block: 2rem;
    container: testimonios / inline-size;

    .testimonio-wrap {
        .testimonio-elemento {

            .testimonio-img-wrapper {
                margin: auto;
                aspect-ratio: 1/1;
                max-height: 300px;
                max-width: 300px;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            p {
                padding-block: 1rem;
                text-align: center;
            }    
        }
    }
}

@container testimonios (min-width: 768px) {
    .testimonio-wrap {
        display: flex;
        gap: 2.3rem;
    }
}

/* beneficios */
.beneficios {
    background-color: var(--secondary-500);
    padding: 13px;
    padding-block: 2rem;
    color: var(--gray-50);
    container: beneficios / inline-size;

    h2 {
        text-align: center;
        font-size: var(--fs-700);
        margin-bottom: 1rem;
    }

    .beneficios-wrap {     
        .beneficios-elemento {
            margin: auto;
            
            .beneficio-img-wrapper {
                margin: auto;
                max-height: 300px;
                max-width: 300px;
                aspect-ratio: 1/1;
                padding-block: 1rem;

                img {
                    border-radius: .5rem;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                }
            }
    
            h3 {
                text-align: center;
            }
            
            p {
                font-size: var(--fs-400);
                text-align: center;
            }
        }
    }
}

@container beneficios (min-width: 768px) {
    .beneficios {
        h2 {
            margin-bottom: 3rem;
        }
        
        .beneficios-wrap {
            margin-top: 1rem;
            display: flex;
            gap: 2.3rem;
        }
    }
}
/* servicios */
.servicios {
    margin: auto;

    .servicios-wrap {        
        .servicio-elemento {
            border: 1px solid var(--primary-500);
            border-radius: .5rem;
            background-color: var(--primary-100);
            color: var(--primary-900);
            font-weight: 500;
            margin-block: 3rem;
            padding: 34px;
            flex: 1;
            
            display: flex;
            flex-direction: column;
            justify-content: baseline;
            align-items: center;
            gap: 21px;

            p {
                text-align: center;
            }
        }
    }
}

@media (min-width: 768px) {
    .servicios {
        .servicios-wrap {
            display: flex;
            gap: 2rem;
    
            .servicio-elemento {
                background-color: transparent;
                border: transparent;

                .border-img {
                    border: 3px solid var(--primary-600);
                    border-radius: 50%;
                    padding: 34px;
                }
            }
        }
    }
}

/* footer */
.footer {
    background-color: var(--primary-900);
    color: var(--primary-100);

    .contacto {
        padding-block: 2rem;

        h2 {
            font-size: var(--fs-500);
            padding-bottom: 1rem;
        }

        p {
            font-size: var(--fs-400);
        }

        ul {
            padding: 0;
        }

        .footer-menu {
            margin-block: 2rem;

            a {
                color: var(--primary-100);
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

    .redes-sociales {
        padding: 21px;
        margin: auto;

        ul {
            margin-block: 2rem;
            padding: 0;
            display: flex;
            justify-content: center;
            gap: 2rem;

            li {
                a {
                    color: var(--gray-50);
                }
            }
        }

    }
}

@media (min-width: 768px) {
    .footer {
        display: flex;
        justify-content: space-around;
        align-items: baseline;

        .redes-sociales {
            margin: 0;
        }
    }
}

/* 404 */
.not-found-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    gap: 1rem;

    .status-code {
        font-size: var(--fs-900);
        font-weight: bold;
    }

    a {
        border-radius: .5rem;
        background-color: var(--gray-950);
        max-width: max-content;
        padding: 8px 34px;
        color: var(--gray-50);        
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        margin-block: 2rem;

        img {
            rotate: 180deg;
        }
    }
}